{% extends 'base.html' %}


{% block content %}

  <li class="nav-item nav-search d-none d-lg-block ms-3">
    <form action="{% url 'search' %}" method="get">
        <div class="input-group">
            <div class="input-group-prepend">
            <button type="submit">
                <span class="input-group-text" id="search">
                    <i class="mdi mdi-magnify"></i>
                </span>
            </button>
            
            </div>
            <input name="search" type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="search">
            
        </div>
    </form>
    

    <ul>
        {% for framework in frameworks %}
            <li>
            {{ framework.name }}/
            {{ framework.language }}/
            {{ framework.date_of_creation }}
            <a href="">deletar</a>/
            <a href="{% url 'update' framework.pk %}">editar</a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}